html {
  font-family: Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.main-hdr {
  background: #3685b5;
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 15px 30px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid #294e82;
  border-top: 2px solid #30bae7;
}

.main-nav__link:hover {
  opacity: 0.3;
}

.main-nav__link:active {
  opacity: 0.1;
}

main {
  margin-bottom: 50px;
}

.content-block {
  padding: 30px 0;
}

.content-block:nth-child(2n+1) {
  background: #e7f1f8;
}


.content-block__hdr {
  position: relative;
  display: block;
  margin-bottom: 60px;
  color: #3c4761;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
}

.content-block__hdr:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  top: 50px;
  left: 50%;
  margin-left: -50px;
  background: rgba(0, 0, 0, 0.15);
}

.content-block__text {
  padding: 0 10% 20px;
  color: #3c4761;
  text-align: center;
}

.my-photo-wrapper {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.content-block__list {
  width: 280px;
  margin: 0 auto;
  padding-left: 35px;
  list-style: none;
}

.content-block__list-item {
  position: relative;
  color: #3c4761;
  font-size: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.content-block__list-item:before {
  content: url('img/Submit-01-16.png');
  position: absolute;
  left: -22px;
  top: -3px;
}

.project-item {
  display: block;
  width: 280px;
  margin: 0 auto 30px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.photo-wrapper {
  min-height: 200px;
  line-height: 200px;
  border: 5px solid #fff;
}

.photo-wrapper img {
  vertical-align: middle;
}

.project-item__name {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  color: #3c4761;
  text-transform: uppercase;
}

.project-item__name:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  left: -25px;
  top: 17px;
  background: #3c4761;
}

.project-item__name:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  right: -25px;
  top: 17px;
  background: #3c4761;
}

.send-mail {
  width: 80%;
  margin: 0 10%;
  padding: 20px 0 20px;
  text-align: center;
  background: #e7f1f8;
  border-radius: 5px;
}

.send-mail__input {
  width: 80%;
  margin: 0 auto 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 17px;
}

.send-mail__input:focus {
  outline: none;
}

.send-mail__input-textarea {
  margin-bottom: 30px;
  resize: none;
}

.send-mail__btn {
  padding: 15px 20px;
  color: #fff;
  font-size: 20px;
  background: #3685b5;
  border: none;
  border-bottom: 3px solid #294e82;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.main-ftr {
  padding: 30px 0;
  background: #344B8E;
}

.social {
  display: flex;
  justify-content: space-around;

}

.social__link {
  color: #fff;
  text-decoration: none;
}

.social__link svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}

.social__link svg:hover {
  fill: #3685b5;
}



/*
.container-center {
  width: 960px;
  margin: 0 auto;
}

.main-nav__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.main-nav__link {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.main-nav__link:before {

}

main {
  background: #e7f1f8;
}
*/
