* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 8px;
  padding-bottom: 3px;
  background: #E1E0DE;
  background-image: repeating-linear-gradient(75deg, transparent 0, transparent 0.16%, #ccc 0.16%, #eee 0.2%);
}

body:before {
  position: fixed;
  content: '';
  width: 100%;
  height: 8px;
  top: 0;
  left: 0;
  background-image: repeating-linear-gradient(to right, #84A982 0%, #84A982 4%, #6C2005 4%, #6C2005 8%, #C74D0A 8%, #C74D0A 12%, #E59F21 12%, #E59F21 16%);
  z-index: 2;
}

header {
  position: relative;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 45px;
  background: #D9D5CC;
}

header:before,
header:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 10px;
  top: 0px;
  background-image: linear-gradient(135deg, #E1E0DE 0, #E1E0DE 50%, transparent 50%, transparent 100%), linear-gradient(225deg, #E1E0DE 0, #E1E0DE 50%, transparent 50%, transparent 100%);
  background-size: 10px 10px;
  background-repeat: repeat no-repeat;
}

header:after {
  height: 5px;
  top: auto;
  bottom: 0;
  background-image: linear-gradient(315deg, #E1E0DE 0, #E1E0DE 50%, transparent 50%, transparent 100%), linear-gradient(45deg, #E1E0DE 0, #E1E0DE 50%, transparent 50%, transparent 100%);
}

.container-center {
  width: 1200px;
  margin: 0 auto;
}

main {
  min-height: 500px;
  padding-top: 50px;
}

.small-header {
  position: relative;
  font-size: 15px;
  color: #8B827B;
  text-align: center;
  text-transform: uppercase;
}

.small-header:before,
.small-header:after {
  content: '';
  position: absolute;
  width: 470px;
  height: 2px;
  left: 0;
  top: 7px;
  background: #8B827B;
}

.small-header:after {
  left: auto;
  right: 0;
}

.big-header {
  font-family: Georgia;
  font-weight: 600;
  font-size: 50px;
  color: #8B827B;
  text-align: center;
  text-transform: uppercase;
}

.content-header {
  position: relative;
  margin-bottom: 50px;
  color: #8B827B;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}

.content-header:before,
.content-header:after {
  content: '';
  position: absolute;
  width: 500px;
  height: 2px;
  left: 0;
  top: 17px;
  background: #8B827B;
}

.content-header:after {
  left: auto;
  right: 0;
}

.projects-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.projects-wrapper:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 2px;
  left: 50%;
  bottom: 0;
  margin-left: -25%;
  background: #8B827B;
}

.project-item {
  position: relative;
  display: block;
  width: 320px;
  margin: 0 30px 60px;
  border: 2px solid #8B827B;
  background: #D9D5CC;
  background-size: contain;
  border-radius: 0 0 60px 60px / 0 0 5px 5px;
  background-image: linear-gradient(78deg, rgba(0,0,0,.2), rgba(0,0,0,.1) 10px, rgba(0,0,0,0) 20px), linear-gradient(-78deg, rgba(0,0,0,.2), rgba(0,0,0,.1) 10px, rgba(0,0,0,0) 20px);
  /*background-image: url('img/2barbershop-s.png'), linear-gradient(102deg, rgba(0,0,0,.1), rgba(0,0,0,.05) 10px, rgba(0,0,0,0) 20px), linear-gradient(-102deg, rgba(0,0,0,.1), rgba(0,0,0,.05) 10px, rgba(0,0,0,0) 20px);*/
  cursor: pointer;
}

.project-item__photo-wrapper {
  min-height: 230px;
  line-height: 230px;
}

.project-item__photo {
  width: 100%;
  vertical-align: middle;
}

.project-item:before,
.project-item:after {
  content: '';
  position:absolute;
  bottom: 25px;
  z-index:-1;
  width: 100px;
  height: 100px;
}

.project-item:before {
  left: 20px;
  box-shadow: -10px 10px 10px rgba(0,0,0,.5);
  transform: rotate(-2deg) skew(-20deg);
}
.project-item:after{
 right: 20px;
 box-shadow: 10px 10px 10px rgba(0,0,0,.5);
 transform: rotate(2deg) skew(20deg);
}

.project-item:hover {
  line-height: 15px;
  transition-duration: 0.5s;
  transform: scale(1.3);
  background-image: none;
  background: #D9D5CC;
  border-radius: 0;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  /*background: rgba(217, 213, 204, .2);
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
}

.project-item:hover:after,
.project-item:hover:before {
  box-shadow: 0 0 0 0;
}

.project-item:hover .project-item__photo{
  transition-duration: 0.5s;
  opacity: 0.05;
}

.project-item__content-wrapper {
  position: absolute;
  display: none;
  width: 100%;
  height: 230px;
  top: 0;
  left: 0;
}

.project-item:hover .project-item__content-wrapper {
  display: block;
}

.my-skills {
  position: relative;
  min-height: 500px;
  padding-top: 60px;
  background: #ccc;
}

.my-skills:before,
.my-skills:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 10px;
  top: 0px;
  background-image: linear-gradient(135deg, #E1E0DE 0, #E1E0DE 50%, transparent 50%, transparent 100%), linear-gradient(225deg, #E1E0DE 0, #E1E0DE 50%, transparent 50%, transparent 100%);
  background-size: 10px 10px;
  background-repeat: repeat no-repeat;
}

.my-skills:after {
  height: 5px;
  top: auto;
  bottom: 0;
  background-image: linear-gradient(315deg, #E1E0DE 0, #E1E0DE 50%, transparent 50%, transparent 100%), linear-gradient(45deg, #E1E0DE 0, #E1E0DE 50%, transparent 50%, transparent 100%);
}

.about-me {
  position: relative;
  z-index: 2;
  min-height: 500px;
  margin-top: -50px;
  margin-bottom: -50px;
  padding-top: 60px;
  background: #E1E0DE;
  background-image: repeating-linear-gradient(90deg, transparent 0, transparent 2px, #ccc 2px, #eee 4px), repeating-linear-gradient(180deg, transparent 0, transparent 2px, #ccc 2px, #eee 4px);
  /*background-image: repeating-linear-gradient(115deg, transparent 0, transparent 0.16%, #ccc 0.16%, #eee 0.2%);*/
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
}

.main-ftr {
  position: relative;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 45px;
  background: #D9D5CC;
}

.main-ftr:before,
.main-ftr:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 10px;
  top: 0px;
  background-image: linear-gradient(135deg, #E1E0DE 0, #E1E0DE 50%, transparent 50%, transparent 100%), linear-gradient(225deg, #E1E0DE 0, #E1E0DE 50%, transparent 50%, transparent 100%);
  background-size: 10px 10px;
  background-repeat: repeat no-repeat;
}

.main-ftr:after {
  height: 5px;
  top: auto;
  bottom: 0;
  background-image: linear-gradient(315deg, #E1E0DE 0, #E1E0DE 50%, transparent 50%, transparent 100%), linear-gradient(45deg, #E1E0DE 0, #E1E0DE 50%, transparent 50%, transparent 100%);
}












/*.project-item:hover:after,
.project-item:hover:before {
  bottom: 7px;
  width: 150px;
  height: 10px;
  transform: rotate(2deg) skew(0);
}

.project-item:hover:before {
  transform: rotate(-2deg) skew(0);
}*/



















/*html {
  font-family: Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

@media (min-width: 760px) {
  .container-center {
    margin: 0 auto;
  }
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.main-hdr {
  background: #3685b5;
}

@media (min-width: 760px) {
  .main-nav__list {
    display: flex;
    justify-content: space-around;
    padding: 0 5%;
    list-style: none;
    border: none;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 15px 30px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid #294e82;
  border-top: 2px solid #30bae7;
}

.main-nav__link:hover {
  opacity: 0.3;
}

.main-nav__link:active {
  opacity: 0.1;
}

@media (min-width: 760px) {
  .main-nav__link {
    font-size: 15px;
    border: none;
  }

  .main-nav__link:hover {
    background: rgba(0, 0, 0, .3);
    opacity: 1;
  }

  .main-nav__link:active {
    background: rgba(0, 0, 0, .6);
  }
}

@media (min-width: 1200px) {
  .main-nav__item {
    padding: 30px;
}

@media (min-width: 1200px) {
  .main-nav__link {
    position: relative;
    min-width: 120px;
    padding: 95px 0 10px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
  }

  .main-nav__link:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    left: 25px;
    top: 10px;
  }

  .main-nav__link--about-me:before {
    background: url('img/Business-Man-128.png') no-repeat center;
    background-size: 100%;
  }

  .main-nav__link--portfolio:before {
    background: url('img/Briefcase-128.png') no-repeat center;
    background-size: 100%;
  }

  .main-nav__link--my-skills:before {
    background: url('img/Tools-02-128.png') no-repeat center;
    background-size: 100%;
  }

  .main-nav__link--contacts:before {
    background: url('img/Contact-128.png') no-repeat center;
    background-size: 100%;
  }

  .main-nav__link--links:before {
    background: url('img/Link-128.png') no-repeat center;
    background-size: 100%;
  }
}

main {
  margin-bottom: 50px;
}

.content-block {
  padding: 30px 0;
}

@media (min-width: 1200px) {
  .content-block {
    padding: 50px 0;
  }
}

.content-block:nth-child(2n+1) {
  background: #e7f1f8;
}


.content-block__hdr {
  position: relative;
  display: block;
  margin-bottom: 60px;
  color: #3c4761;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 1200px) {
  .content-block__hdr {
    margin-bottom: 80px;
    font-size: 40px;
  }
}

.content-block__hdr:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  top: 50px;
  left: 50%;
  margin-left: -50px;
  background: rgba(0, 0, 0, 0.15);
}

@media (min-width: 1200px) {
  .content-block__hdr:after {
    width: 150px;
    top: 80px;
    margin-left: -75px;
  }
}

.content-block__text {
  padding: 0 10% 20px;
  color: #3c4761;
  text-align: center;
}

.content-block__my-photo {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

@media (min-width: 1200px) {
  .content-block__my-photo {
    float: left;
    margin-left: 100px;
  }
}

@media (min-width: 1200px) {
  .content-block__text {
    float: right;
    width: 600px;
    padding: 45px 60px;
    margin: 0 60px;
    box-shadow: -23px 0 16px -28px rgba(0, 0, 0, 0.5);
  }
}

.content-block__list {
  width: 280px;
  margin: 0 auto;
  padding-left: 35px;
  list-style: none;
}

@media (min-width: 760px) {
  .content-block__list {
    width: 600px;
    padding-left: 50px;
  }
}

.content-block__list-item {
  position: relative;
  color: #3c4761;
  font-size: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

@media (min-width: 760px) {
  .content-block__list-item {
    font-size: 12px;
    margin-bottom: 20px;
  }
}

.content-block__list-item:before {
  content: url('img/Submit-01-16.png');
  position: absolute;
  left: -22px;
  top: -3px;
}

@media (min-width: 760px) {
  .content-block__list-item:before {
    content: url('img/Submit-01-24.png');
    left: -35px;
    top: -5px;
  }
}

@media (min-width: 760px) {
  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
}

.project-item {
  display: block;
  width: 280px;
  margin: 0 auto 30px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

@media (min-width: 760px) {
  .project-item {
    width: 360px;
    margin: 0 10px 50px 10px;
  }
}

.photo-wrapper {
  position: relative;
  min-height: 200px;
  line-height: 200px;
  background: #E7F1F8;
  border: 5px solid #fff;
}

@media (min-width: 760px) {
  .photo-wrapper {
    min-height: 300px;
    line-height: 300px;
  }
}

@media (min-width: 1200px) {

  .photo-wrapper:before,
  .photo-wrapper:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left:5px;
    width:50%;
    height: 30px;
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    transform: rotate(-3deg);
    }
  }

  .photo-wrapper:after {
    right:5px;
    left:auto;
    transform: rotate(3deg);
  }
}

.photo-wrapper img {
  vertical-align: middle;
}

@media (min-width: 760px) {
  .photo-wrapper img {
    width: 350px;
  }
}

.project-item__name {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  color: #3c4761;
  text-transform: uppercase;
}

.project-item__name:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  left: -25px;
  top: 17px;
  background: #3c4761;
}

.project-item__name:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  right: -25px;
  top: 17px;
  background: #3c4761;
}

.send-mail {
  width: 80%;
  margin: 0 10%;
  padding: 20px 0 20px;
  text-align: center;
  background: #e7f1f8;
  border-radius: 5px;
}

@media (min-width: 1200px) {
  .send-mail {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.send-mail__input {
  width: 80%;
  margin: 0 auto 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 17px;
}

.send-mail__input:focus {
  outline: none;
}

.send-mail__input-textarea {
  margin-bottom: 30px;
  resize: none;
}

.send-mail__btn {
  padding: 15px 20px;
  color: #fff;
  font-size: 20px;
  background: #3685b5;
  border: none;
  border-bottom: 3px solid #294e82;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.main-ftr {
  padding: 30px 0;
  background: #344B8E;
}

.social {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 760px) {
  .social {
    width: 50%;
    margin: 0 auto;
  }
}

.social__link {
  color: #fff;
  text-decoration: none;
}

.social__link svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}

.social__link svg:hover {
  fill: #3685b5;
}

@media (min-width: 1200px) {
  .container-center {
    width: 1200px;
    margin: 0 auto;
  }

  .main-ftr {
    padding: 50px 0;
  }

  .social__link svg {
    width: 60px;
    height: 60px;
  }

  .social__link svg:hover {
    transform-origin: 50% 50% 0px;
    transition: fill linear .5s, transform linear .5s;
    transform: scale(1.4);
  }
}*/
