.page-header {
  height: 100vh;
  min-height: 782px;
  background: #2f2f35 url("../img/header-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;

  &__top {
    margin-bottom: 23px;
    padding: 30px 25px 0;
  }

  &__phone {
    .float(right, 200px);
    padding-top: 18px;
    .font-ubuntu(600);
    .c-white;
    .fz(24px);
  }

  &__description {
    max-width: 370px;
    margin-bottom: 26px;
    .font-ubuntu(300);
    .fz(24px);
    .c-white;
  }
}