.page-title {
  max-width: 300px;
  .font-vg(36px);
  text-transform: uppercase;
  .c-white;
  line-height: 1;

  @media (max-width: 1020px) {
    max-width: none;
    text-align: center;
  }

  @media (max-width: 430px) {
    font-size: 32px;
  }

  &--clients {
    margin-bottom: 22px;
  }

  &--portfolio {
    margin-bottom: 50px;
  }
}