@font-face {
    font-family: "Lato";
    src: url("../fonts/lato-light.ttf");
    src: local("Lato Light"), local("Lato-Light"),
         url("../fonts/lato-light.eot?#iefix") format("embedded-opentype"),
         url("../fonts/lato-light.ttf") format("truetype"),
         url("../fonts/lato-light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/lato-regular.ttf");
    src: local("Lato Regular"), local("Lato-Regular"),
         url("../fonts/lato-regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/lato-regular.ttf") format("truetype"),
         url("../fonts/lato-regular.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/lato-bold.ttf");
    src: local("Lato Bold"), local("Lato-Bold"),
         url("../fonts/lato-bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/lato-bold.ttf") format("truetype"),
         url("../fonts/lato-bold.woff") format("woff");
    font-weight: 700;
}

/********************
* Common styles  *
********************/

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif, Arial;
  font-size: 18px;
  text-shadow: 0 0 1px rgba(51, 51, 51, 0.2);
}

.clearfix:before,.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.index-center-wrap {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/********************
* Header styles  *
********************/
.page-header {
  position: fixed;
  top: -100px;
  width: 100%;
  min-height: 50px;
  background-color: #FCFCFC;
  font-size: 20px;
  color: #666;
  border-bottom: 3px solid #DDD;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  z-index: 100;
}

.page-header--scrolled {
  top: 0;
}

/********************
* Main styles  *
********************/

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__cell {
  display: inline-block;
  height: 50px;
  margin-right: 25px;
  line-height: 50px;
  vertical-align: middle;
  cursor: pointer;
}

.main-nav__link {
  font-size: 19px;
  line-height: 1;
  font-weight: 300;
  text-transform: lowercase;
  text-decoration: none;
  color: #777;
  vertical-align: middle;
}

.main-nav__link:hover {
  border-bottom: 2px solid #3dd0ac;
}

.page-intro {
  position: relative;
  padding-top: 50px;
  background: #3dd0ac;
  text-align: center;
  line-height: 20px;
  color: #FAFAFA;
  z-index: 10;
  font-size: 20px;
  border-bottom: solid 3px #DDD;
}

.page-title {
  margin: 0 0 8px;
  font-size: 50px;
  line-height: 70px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.page-title--gray {
  color: #777;
}

.page-title--small {
  font-size: 35px;
}

.page-intro__label {
  margin-bottom: 75px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;

}

.page-intro__label span {
  padding-top: 3px;
  border-bottom: 1px dashed rgba(255, 255, 255, .7);
  text-transform: uppercase;
  transition: all .2s linear 0s;
  display: inline-block;
}

.page-intro__label span:hover {
  padding: 3px 15px 0;
  border-bottom: none;
  background: rgba(255, 255, 255, 1);
  color: #3DD0AC;
}

.page-intro__computer {
  width: 80%;
  height: 350px;
  margin: 0 auto;
}

.computer {
  position: relative;
  text-align: left;
}

.computer__display {
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transform: translateX(-50%);
  box-shadow: 0 0 0 14px #464C52;
  // z-index: 3;
  overflow: hidden;
  // position: relative;
  left: 50%;
  width: 100%;
  height: 96%;
}

.computer__display::before,
.computer__display::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7%;
  z-index: 2;
  // border-top-left-radius: 3% 50%;
  // border-top-right-radius: 3% 50%;
}

.computer__display::before {
  background: linear-gradient(to right, #ddd 0%, #ddd 50%, #E2E2E2 50%, #E2E2E2 100%);
  left: 0;
}

.computer__display::after {
  top: 60%;
  background: #ccc;
  width: 70%;
  transform: rotate(-90deg);
  left: -33.4%;
}

.computer__console {
  position: relative;
  height:100%;
  width: 100%;
  padding: 30px;
  background: #FEFEFE;
}

.computer__icon {
  content: "";
  position: absolute;
  top: 2%;
  left: 5%;
  width: 10px;
  height: 10px;
  background: linear-gradient(to right top, #E76D6B 0%, #E76D6B 50%, #CB605E 50%, #CB605E 100%);
  border-radius: 50%;
  z-index: 5;
}
.computer__icon::before,
.computer__icon::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.computer__icon::before {
  background: linear-gradient(to right top, #DFBC43 0%, #DFBC43 50%, #C4A53B 50%, #C4A53B 100%);
  transform: translateX(178%);
}

.computer__icon::after {
  background: linear-gradient(to right top, #36D488 0%, #36D488 50%, #2FBA77 50%, #2FBA77 100%);
  transform: translateX(350%);
}

.computer__text {
  position: absolute;
  font-family: monospace;
  font-weight: normal;
}

.computer__text--blue {
  color: #3a7dda;
}

.computer__text--lightblue {
  color: #3DD0AC;
}

.computer__text--yellow {
  color: #FFBC3E;
}

.computer__text p {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #666;
  font-weight: normal;
}

.computer__text .cursor {
  position: absolute;
  top: 0;
  right: -1px;
  background: #FEFEFE;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.computer__text--first {
  top: 10%;
}

.computer__text--second {
  top: 17%;
}

.computer__text--third {
  top: 24%;
}

.computer__text--fourth {
  top: 31%;
}

.computer__text--fifth {
  top: 38%;
}

.computer__text p {
  color:#666;
  display:inline-block;
}

.computer__text--first .cursor {
  width: 100%;
  border-left: .1em #FEFEFE solid;
  animation: typing 2s steps(15, end), blink-caret 1s step-end;
  animation-fill-mode: forwards;
    -webkit-animation: typing 2s steps(15, end), blink-caret 1s step-end;
  -webkit-animation-fill-mode: forwards;
    -moz-animation: typing 2s steps(15, end), blink-caret 1s step-end;
  -moz-animation-fill-mode: forwards;
}
.computer__text--second .cursor {
  width: 100%;
  border-left: .1em #FEFEFE solid;
  animation: typing 1s steps(6, end), blink-caret 1s step-end;
  animation-delay:2s;
  animation-fill-mode: forwards;
    -webkit-animation: typing 1s steps(6, end), blink-caret 1s step-end;
  -webkit-animation-delay:2s;
  -webkit-animation-fill-mode: forwards;
    -moz-animation: typing 1s steps(6, end), blink-caret 1s step-end;
  -moz-animation-delay:2s;
  -moz-animation-fill-mode: forwards;
}
.computer__text--third .cursor {
    width: 100%;
    border-left: .1em #FEFEFE solid;

  animation: typing 1s steps(7, end), blink-caret 1s step-end;
  animation-delay:3s;
  animation-fill-mode: forwards;
    -webkit-animation: typing 1s steps(7, end), blink-caret 1s step-end;
  -webkit-animation-delay:3s;
  -webkit-animation-fill-mode: forwards;
    -moz-animation: typing 1s steps(7, end), blink-caret 1s step-end;
  -moz-animation-delay:3s;
  -moz-animation-fill-mode: forwards;
}
.computer__text--fourth .cursor {
  width: 100%;
  border-left: .1em #FEFEFE solid;
  animation: typing 4s steps(30, end), blink-caret 3s step-end;
  animation-delay:4s;
  animation-fill-mode: forwards;
    -webkit-animation: typing 4s steps(30, end), blink-caret 3s step-end;
  -webkit-animation-delay:4s;
  -webkit-animation-fill-mode: forwards;
    -moz-animation: typing 4s steps(30, end), blink-caret 3s step-end;
  -moz-animation-delay:4s;
  -moz-animation-fill-mode: forwards;
}

.computer__text--fifth .cursor {
  width: 100%;
  border-left: .1em #FEFEFE solid;
  animation: typing 6s steps(56, end), blink-caret-infinite 1s step-end infinite;
  animation-delay: 8s;
  animation-fill-mode: forwards;
    -webkit-animation: typing 6s steps(56, end), blink-caret-infinite 1s step-end infinite;
  -webkit-animation-delay:8s;
  -webkit-animation-fill-mode: forwards;
    -moz-animation: typing 6s steps(56, end), blink-caret-infinite 1s step-end infinite;
  -moz-animation-delay:8s;
  -moz-animation-fill-mode: forwards;
}


.page-intro__arrow {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.arrow {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #3DD0AC;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  cursor: pointer;
}

.arrow--top {
  position: fixed;
  right: 20px;
  bottom: -200px;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  transform: rotate(180deg);
  z-index: 25;
  box-shadow: 0 0 0 14px rgba(243, 243, 243, .7);
}

.js-arrow--scrolled {
  bottom: 20px;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  top: 35%;
  width: 2.8%;
  height: 39%;
  background: #fff;

}

.arrow::before {
  left: 37%;
  transform: rotate(140deg);
}

.arrow::after {
  right: 37%;
  transform: rotate(-143deg);
  height: 26px;
}

.arrow--top::before {
  left: 35%;
  transform: rotate(140deg);
  height: 22px;
  top: 31%;;
}

.arrow--top::after {
  right: 36%;
  transform: rotate(-145deg);
  height: 22px;
  top: 32%;
}

.about {
  position: relative;
  padding: 45px 0 38px;
  color: #777;
  font-weight: 300;
  background: #F6F6F6;
}

.about::after,
.skills-section::after,
.portfolio::after {
  content: "";
  position: absolute;
  bottom: 1%;
  left: 50%;
  width: 80px;
  height: 80px;
  pointer-events: none;
  -webkit-transform: translate(-50%, 50%) rotate(45deg);
  transform: translate(-50%, 50%) rotate(45deg);
  z-index: 3;
}

.about::after {
  background: #F6F6F6;
}

.skills-section::after {
  background: #fff;
}

.portfolio::after {
  background: #3DD0AC;
}

.about__title {
  margin-top: 0;
  margin-bottom: 35px;
  color: #777;
  font-size: 35px;
  line-height: 70px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.about__text {
  float: left;
  max-width: 580px;
}

.about__content {
  margin-top: 0;
  line-height: 1.5;
  text-indent: 40px;
}

.about__person {
  position: relative;
  float: right;
  width: 300px;
  height: 326px;
  font-size: 10px;
  background: #fff;
  border: 1px solid rgba(40, 164, 133, .2);
  box-shadow: 7px 7px rgba(40, 164, 133, .4),
              14px 14px rgba(204, 204, 204, .3);
}

.about__person::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  box-shadow: 10em 2.5em #674539, 11em 2.5em #674539, 12em 2.5em #674539, 13em 2.5em #674539, 14em 2.5em #674539, 15em 2.5em #674539, 16em 2.5em #5B3A2E, 8em 3.5em #674539, 9em 3.5em #674539, 10em 3.5em #674539, 11em 3.5em #674539, 12em 3.5em #674539, 13em 3.5em #674539, 14em 3.5em #5B3A2E, 15em 3.5em #5B3A2E, 16em 3.5em #5B3A2E, 17em 3.5em #5B3A2E, 18em 3.5em #5B3A2E, 7em 4.5em #5B3A2E, 8em 4.5em #5B3A2E, 9em 4.5em #5B3A2E, 10em 4.5em #674539, 11em 4.5em #5B3A2E, 12em 4.5em #5B3A2E, 13em 4.5em #674539, 14em 4.5em #5B3A2E, 15em 4.5em #5B3A2E, 16em 4.5em #5B3A2E, 17em 4.5em #5B3A2E, 18em 4.5em #5B3A2E, 19em 4.5em #674539, 6em 5.5em #674539, 7em 5.5em #5B3A2E, 8em 5.5em #5B3A2E, 9em 5.5em #674539, 10em 5.5em #5B3A2E, 11em 5.5em #5B3A2E, 12em 5.5em #674539, 13em 5.5em #5B3A2E, 14em 5.5em #5B3A2E, 15em 5.5em #5B3A2E, 16em 5.5em #5B3A2E, 17em 5.5em #5B3A2E, 18em 5.5em #5B3A2E, 19em 5.5em #5B3A2E, 20em 5.5em #674539, 5em 6.5em #674539, 6em 6.5em #5B3A2E, 7em 6.5em #5B3A2E, 8em 6.5em #674539, 9em 6.5em #5B3A2E, 10em 6.5em #5B3A2E, 11em 6.5em #674539, 12em 6.5em #5B3A2E, 13em 6.5em #5B3A2E, 14em 6.5em #5B3A2E, 15em 6.5em #5B3A2E, 16em 6.5em #FECBBC, 17em 6.5em #5B3A2E, 18em 6.5em #5B3A2E, 19em 6.5em #5B3A2E, 20em 6.5em #674539, 5em 7.5em #674539, 6em 7.5em #5B3A2E, 7em 7.5em #5B3A2E, 8em 7.5em #674539, 9em 7.5em #5B3A2E, 10em 7.5em #674539, 11em 7.5em #5B3A2E, 12em 7.5em #5B3A2E, 13em 7.5em #5B3A2E, 14em 7.5em #5B3A2E, 15em 7.5em #FECBBC, 16em 7.5em #FECBBC, 17em 7.5em #FCC4B2, 18em 7.5em #5B3A2E, 19em 7.5em #5B3A2E, 20em 7.5em #5B3A2E, 21em 7.5em #5B3A2E, 5em 8.5em #5B3A2E, 6em 8.5em #5B3A2E, 7em 8.5em #674539, 8em 8.5em #5B3A2E, 9em 8.5em #5B3A2E, 10em 8.5em #5B3A2E, 11em 8.5em #5B3A2E, 12em 8.5em #5B3A2E, 13em 8.5em #5B3A2E, 14em 8.5em #FECBBC, 15em 8.5em #FECBBC, 16em 8.5em #FECBBC, 17em 8.5em #FCC4B2, 18em 8.5em #FCC4B2, 19em 8.5em #5B3A2E, 20em 8.5em #5B3A2E, 21em 8.5em #5B3A2E, 5em 9.5em #5B3A2E, 6em 9.5em #5B3A2E, 7em 9.5em #5B3A2E, 8em 9.5em #5B3A2E, 9em 9.5em #5B3A2E, 10em 9.5em #5B3A2E, 11em 9.5em #FECBBC, 12em 9.5em #5B3A2E, 13em 9.5em #FECBBC, 14em 9.5em #FECBBC, 15em 9.5em #FECBBC, 16em 9.5em #FECBBC, 17em 9.5em #FECBBC, 18em 9.5em #FCC4B2, 19em 9.5em #5B3A2E, 20em 9.5em #5B3A2E, 21em 9.5em #5B3A2E, 5em 10.5em #5B3A2E, 6em 10.5em #5B3A2E, 7em 10.5em #5B3A2E, 8em 10.5em #5B3A2E, 9em 10.5em #FCC4B2, 10em 10.5em #FCC4B2, 11em 10.5em #FCC4B2, 12em 10.5em #FCC4B2, 13em 10.5em #FCC4B2, 14em 10.5em #FCC4B2, 15em 10.5em #FCC4B2, 16em 10.5em #FCC4B2, 17em 10.5em #FCC4B2, 18em 10.5em #FCC4B2, 19em 10.5em #FCC4B2, 20em 10.5em #5B3A2E, 21em 10.5em #5B3A2E, 5em 11.5em #5B3A2E, 6em 11.5em #5B3A2E, 7em 11.5em #3D221E, 8em 11.5em #3D221E, 9em 11.5em #3D221E, 10em 11.5em #FCC4B2, 11em 11.5em #FCC4B2, 12em 11.5em #FCC4B2, 13em 11.5em #FCC4B2, 14em 11.5em #3D221E, 15em 11.5em #3D221E, 16em 11.5em #3D221E, 17em 11.5em #3D221E, 18em 11.5em #FCC4B2, 19em 11.5em #FCC4B2, 20em 11.5em #5B3A2E, 21em 11.5em #5B3A2E, 4em 12.5em #080405, 5em 12.5em #080405, 6em 12.5em #080405, 7em 12.5em #080405, 8em 12.5em #080405, 9em 12.5em #080405, 10em 12.5em #080405, 11em 12.5em #FCC4B2, 12em 12.5em #080405, 13em 12.5em #080405, 14em 12.5em #080405, 15em 12.5em #080405, 16em 12.5em #080405, 17em 12.5em #080405, 18em 12.5em #080405, 19em 12.5em #080405, 20em 12.5em #FCC4B2, 21em 12.5em #5B3A2E, 5em 13.5em #080405, 6em 13.5em #B6B5B3, 7em 13.5em #55686C, 8em 13.5em #55686C, 9em 13.5em #fff, 10em 13.5em #080405, 11em 13.5em #818183, 12em 13.5em #080405, 13em 13.5em #B6B5B3, 14em 13.5em #55686C, 15em 13.5em #55686C, 16em 13.5em #fff, 17em 13.5em #B6B5B3, 18em 13.5em #080405, 19em 13.5em #FCC4B2, 20em 13.5em #FCC4B2, 21em 13.5em #5B3A2E, 5em 14.5em #5B3A2E, 6em 14.5em #B6B5B3, 6em 14.5em #B6B5B3, 7em 14.5em #B6B5B3, 8em 14.5em #B6B5B3, 9em 14.5em #B6B5B3, 10em 14.5em #FECBBC, 11em 14.5em #FECBBC, 12em 14.5em #FCC4B2, 13em 14.5em #B6B5B3, 14em 14.5em #B6B5B3, 15em 14.5em #B6B5B3, 16em 14.5em #B6B5B3, 17em 14.5em #B6B5B3, 18em 14.5em #FCC4B2, 19em 14.5em #FCC4B2, 20em 14.5em #FCC4B2, 21em 14.5em #5B3A2E, 5em 15.5em #FCC4B2, 6em 15.5em #B6B5B3, 6em 15.5em #B6B5B3, 7em 15.5em #B6B5B3, 8em 15.5em #B6B5B3, 9em 15.5em #B6B5B3, 10em 15.5em #FCC4B2, 11em 15.5em #FECBBC, 12em 15.5em #FECBBC, 13em 15.5em #B6B5B3, 14em 15.5em #B6B5B3, 15em 15.5em #B6B5B3, 16em 15.5em #B6B5B3, 17em 15.5em #B6B5B3, 18em 15.5em #FCC4B2, 19em 15.5em #FCC4B2, 20em 15.5em #CDA396, 5em 16.5em #FCC4B2, 6em 16.5em #CDA396, 7em 16.5em #FECBBC, 8em 16.5em #FECBBC, 9em 16.5em #FECBBC, 10em 16.5em #FCC4B2, 11em 16.5em #FECBBC, 12em 16.5em #FCC4B2, 13em 16.5em #FCC4B2, 14em 16.5em #FECBBC, 15em 16.5em #FECBBC, 16em 16.5em #FECBBC, 17em 16.5em #FECBBC, 18em 16.5em #FCC4B2, 19em 16.5em #FCC4B2, 20em 16.5em #CDA396, 6em 17.5em #CDA396, 7em 17.5em #FCC4B2, 8em 17.5em #FCC4B2, 9em 17.5em #FCC4B2, 10em 17.5em #CDA396, 11em 17.5em #FECBBC, 12em 17.5em #FECBBC, 13em 17.5em #FCC4B2, 14em 17.5em #CDA396, 15em 17.5em #FCC4B2, 16em 17.5em #FECBBC, 17em 17.5em #FECBBC, 18em 17.5em #FCC4B2, 19em 17.5em #FCC4B2, 6em 18.5em #FCC4B2, 7em 18.5em #FCC4B2, 8em 18.5em #FCC4B2, 9em 18.5em #FCC4B2, 10em 18.5em #FCC4B2, 11em 18.5em #CDA396, 12em 18.5em #CDA396, 13em 18.5em #CDA396, 14em 18.5em #FCC4B2, 15em 18.5em #FCC4B2, 16em 18.5em #FCC4B2, 17em 18.5em #FCC4B2, 18em 18.5em #FCC4B2, 19em 18.5em #DAAF9F, 7em 19.5em #DAAF9F, 8em 19.5em #FCC4B2, 9em 19.5em #FCC4B2, 10em 19.5em #FCC4B2, 11em 19.5em #FCC4B2, 12em 19.5em #FCC4B2, 13em 19.5em #FCC4B2, 14em 19.5em #FCC4B2, 15em 19.5em #FCC4B2, 16em 19.5em #DAAF9F, 17em 19.5em #FCC4B2, 18em 19.5em #FCC4B2, 19em 19.5em #DAAF9F, 7em 20.5em #DAAF9F, 8em 20.5em #DAAF9F, 9em 20.5em #FCC4B2, 10em 20.5em #FCC4B2, 11em 20.5em #D89283, 12em 20.5em #D89283, 13em 20.5em #D89283, 14em 20.5em #D89283, 15em 20.5em #DAAF9F, 16em 20.5em #FCC4B2, 17em 20.5em #DAAF9F, 18em 20.5em #DAAF9F, 19em 20.5em #DAAF9F, 7em 21.5em #CDA396, 8em 21.5em #DAAF9F, 9em 21.5em #DAAF9F, 10em 21.5em #FCC4B2, 11em 21.5em #FCC4B2, 12em 21.5em #FCC4B2, 13em 21.5em #FCC4B2, 14em 21.5em #FCC4B2, 15em 21.5em #FCC4B2, 16em 21.5em #FCC4B2, 17em 21.5em #DAAF9F, 18em 21.5em #DAAF9F, 8em 22.5em #CDA396, 9em 22.5em #DAAF9F, 10em 22.5em #FCC4B2, 11em 22.5em #FCC4B2, 12em 22.5em #DAAF9F, 13em 22.5em #DAAF9F, 14em 22.5em #FCC4B2, 15em 22.5em #FCC4B2, 16em 22.5em #DAAF9F, 17em 22.5em #DAAF9F, 18em 22.5em #CDA396, 9em 23.5em #CDA396, 10em 23.5em #DAAF9F, 11em 23.5em #FCC4B2, 12em 23.5em #FCC4B2, 13em 23.5em #FCC4B2, 14em 23.5em #FCC4B2, 15em 23.5em #DAAF9F, 16em 23.5em #DAAF9F, 17em 23.5em #DAAF9F, 18em 23.5em #CDA396, 9em 24.5em #CDA396, 10em 24.5em #CDA396, 11em 24.5em #DAAF9F, 12em 24.5em #DAAF9F, 13em 24.5em #DAAF9F, 14em 24.5em #DAAF9F, 15em 24.5em #DAAF9F, 16em 24.5em #BC9589, 17em 24.5em #CDA396, 18em 24.5em #CDA396, 10em 25.5em #CDA396, 11em 25.5em #BC9589, 12em 25.5em #BC9589, 13em 25.5em #BC9589, 14em 25.5em #BC9589, 15em 25.5em #BC9589, 16em 25.5em #BC9589, 17em 25.5em #CDA396, 18em 25.5em #CDA396, 9em 26.5em #5E5E5E, 10em 26.5em #262727, 11em 26.5em #DAAF9F, 12em 26.5em #DAAF9F, 13em 26.5em #DAAF9F, 14em 26.5em #DAAF9F, 15em 26.5em #DAAF9F, 16em 26.5em #DAAF9F, 17em 26.5em #CDA396, 18em 26.5em #262727, 19em 26.5em #262727, 7em 27.5em #5E5E5E, 8em 27.5em #AAACAB, 9em 27.5em #5E5E5E, 10em 27.5em #262727, 11em 27.5em #262727, 12em 27.5em #FCC4B2, 13em 27.5em #FCC4B2, 14em 27.5em #FCC4B2, 15em 27.5em #FCC4B2, 16em 27.5em #FCC4B2, 17em 27.5em #262727, 18em 27.5em #262727, 19em 27.5em #5E5E5E, 20em 27.5em #AAACAB, 21em 27.5em #5E5E5E, 22em 27.5em #AAACAB, 5em 28.5em #AAACAB, 6em 28.5em #5E5E5E, 7em 28.5em #474847, 8em 28.5em #5E5E5E, 9em 28.5em #474847, 10em 28.5em #262727, 11em 28.5em #262727, 12em 28.5em #262727, 13em 28.5em #FCC4B2, 14em 28.5em #FCC4B2, 15em 28.5em #FCC4B2, 16em 28.5em #262727, 17em 28.5em #262727, 18em 28.5em #262727, 19em 28.5em #474847, 20em 28.5em #5E5E5E, 21em 28.5em #474847, 22em 28.5em #5E5E5E, 23em 28.5em #AAACAB, 24em 28.5em #5E5E5E, 25em 28.5em #AAACAB, 4em 29.5em #AAACAB, 5em 29.5em #5E5E5E, 6em 29.5em #474847, 7em 29.5em #5E5E5E, 8em 29.5em #474847, 9em 29.5em #262727, 10em 29.5em #262727, 11em 29.5em #262727, 12em 29.5em #262727, 13em 29.5em #262727, 14em 29.5em #000, 15em 29.5em #262727, 16em 29.5em #262727, 17em 29.5em #262727, 18em 29.5em #262727, 19em 29.5em #262727, 20em 29.5em #474847, 21em 29.5em #5E5E5E, 22em 29.5em #474847, 23em 29.5em #5E5E5E, 24em 29.5em #474847, 25em 29.5em #5E5E5E, 26em 29.5em #AAACAB, 3em 30.5em #AAACAB, 4em 30.5em #5E5E5E, 5em 30.5em #474847, 6em 30.5em #5E5E5E, 7em 30.5em #474847, 8em 30.5em #5E5E5E, 9em 30.5em #262727, 9em 30.5em #262727, 10em 30.5em #262727, 11em 30.5em #474847, 12em 30.5em #5E5E5E, 12em 30.5em #5E5E5E, 13em 30.5em #000, 14em 30.5em #000, 15em 30.5em #000, 16em 30.5em #5E5E5E, 17em 30.5em #474847, 18em 30.5em #262727, 19em 30.5em #262727, 20em 30.5em #5E5E5E, 21em 30.5em #474847, 22em 30.5em #5E5E5E, 23em 30.5em #474847, 24em 30.5em #5E5E5E, 25em 30.5em #474847, 26em 30.5em #5E5E5E, 2em 31.5em #474847, 3em 31.5em #5E5E5E, 4em 31.5em #474847, 5em 31.5em #5E5E5E, 6em 31.5em #474847, 7em 31.5em #5E5E5E, 8em 31.5em #474847, 9em 31.5em #5E5E5E, 10em 31.5em #474847, 11em 31.5em #5E5E5E, 12em 31.5em #474847, 13em 31.5em #000, 14em 31.5em #000, 15em 31.5em #000, 16em 31.5em #474847, 17em 31.5em #5E5E5E, 18em 31.5em #474847, 19em 31.5em #5E5E5E, 20em 31.5em #474847, 21em 31.5em #5E5E5E, 22em 31.5em #474847, 23em 31.5em #5E5E5E, 24em 31.5em #474847, 25em 31.5em #5E5E5E, 26em 31.5em #474847, 27em 31.5em #5E5E5E;

}

.person__eyes {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 1em;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 7em 13.5em #fff, 14em 13.5em #fff, 16em 13.5em #55686C, 9em 13.5em #55686C;
  animation-name: eyes;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.person__eyes::before {
  content: '';
  position: absolute;
  width: 0.5em;
  height: 1em;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 7em 13.5em #fff, 14em 13.5em #fff, 16em 13.5em #55686C, 9em 13.5em #55686C, 10em 20.5em #D89283, 10.5em 20.5em #D89283, 11em 21.5em #D89283, 11.5em 21.5em #D89283, 12em 21.5em #D89283, 12.5em 21.5em #D89283, 13em 21.5em #D89283, 13.5em 21.5em #D89283, 14em 21.5em #D89283, 14.5em 21.5em #D89283, 15em 20.5em #D89283, 15.5em 20.5em #D89283, 11em 20.5em #fff, 11.5em 20.5em #fff, 12em 20.5em #fff, 12.5em 20.5em #fff, 13em 20.5em #fff, 13.5em 20.5em #fff, 14em 20.5em #fff, 14.5em 20.5em #fff, 16em 19.5em #FCC4B2, 16.5em 19.5em #FCC4B2, 12em 22.5em #FCC4B2, 12.5em 22.5em #FCC4B2, 13em 22.5em #FCC4B2, 9em 21.5em #FCC4B2, 9.5em 21.5em #FCC4B2, 13.5em 22.5em #FCC4B2;
  animation-name: smile;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.portfolio {
  position: relative;
  padding: 93px 0 50px;
  background: #3DD0AC;
}

.portfolio__label {
  font-size: 17px;
  vertical-align: super;
}

.portfolio__page-title {
  margin-bottom: 40px;
  color: #fff;
}

.portfolio__wrap {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio__item {
  position: relative;
  width: 260px;
  height: 250px;
  margin: 0 25px 50px;
  padding: 15px;
  border: 7px solid rgba(243, 243, 243, .5);
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
}

.portfolio__overlay-left {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(243, 243, 243, .7);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  border-radius: 8px;
}

.portfolio__overlay-top {
  position: absolute;
  top: -78%;
  left: 0;
  width: 100%;
  height: 78%;
  padding: 5px;
  text-align: center;
  background: rgb(243, 243, 243);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  border-radius: 8px;
}

.portfolio__technology-subtitle {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #777;
  border-bottom: 1px dashed #28A485;
}

.portfolio__technology {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  line-height: 25px;
  color: #777;
}

.portfolio__technology:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 4px;
  left: 10px;
  top: 8px;
  background: #28A485;
  transform: rotate(-45deg);
}

.portfolio__technology:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 4px;
  left: 8px;
  top: 10px;
  transform: rotate(45deg);
  background: #28A485;
}

.btn {
  position: absolute;
  left: 50%;
  width: 120px;
  min-height: 40px;
  border-bottom: 6px solid #00C58E;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #EEE;
  background: #3dd0ac;
  transform: translate(-50%, -50%);
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  border-radius: 5px;
}

.btn:hover {
  background: #33DBB1;
}

.btn:active {
  border-bottom: 3px solid #00C58E;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.btn--site {
  top: 34%;
}

.btn--site:active {
  top: 37%;
}

.btn--git {
  top: 60%;
}

.btn--git:active {
  top: 61%;
}

.btn--technologies {
  top: 86%;
}

.btn--technologies:active {
  top: 87%;
}

.btn--technologies:active + .portfolio__overlay-top {
  top: 0;
}

.portfolio__item:hover .portfolio__overlay-left {
  left: 0;
}

.portfolio__item--nerds {
  background: url("../img/nerds-showcase_2.png") no-repeat 50% 100%;
  background-size: 86% 76%;
}

.portfolio__item--technomart {
  background: url("../img/technomart-showcase_2.png") no-repeat 50% 100%;
  background-size: 86% 76%;
}

.portfolio__item--sedona {
  background: url("../img/sedona-showcase_2.png") no-repeat 50% 100%;
  background-size: 87% 76%;
}

.portfolio__item--pink {
  background: url("../img/pink-showcase_2.png") no-repeat 50% 100%;
  background-size: 87% 76%;
}

.portfolio__item--barbershop {
  background: url("../img/barbershop-showcase_2.png") no-repeat 50% 100%;
  background-size: 86% 76%;
}

.portfolio__item--motion {
  background: url("../img/motion-showcase_2.png") no-repeat 50% 100%;
  background-size: 86% 76%;
}

.portfolio__item--threezine {
  background: url("../img/threezine-showcase_2.png") no-repeat 50% 100%;
  background-size: 86% 76%;
}

.portfolio__item--portfolio {
  background: url("../img/portfolio-showcase_2.png") no-repeat 50% 100%;
  background-size: 86% 76%;
}

.portfolio__title {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.skills-section {
  position: relative;
  padding: 200px 0 150px;
  background: #fff;
}

.skills {
  position: relative;
  max-width: 680px;
  height: 680px;
  margin: 0 auto;
}

.skills__center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  height: 35%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 23;
  background: url('../img/skills-bg.svg') no-repeat;
  background-size: 100% 100%;
}

.skills__label {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transform: translate(-50%, -50%);
}

.skills__round {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 22;
  background: #F3F3F3;
}

.skills__item {
  position: absolute;
  width: 70px;
  height: 68px;
  border-radius: 50%;
  z-index: 5;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 0 14px rgba(243, 243, 243, .7);
  -moz-box-shadow: 0 0 0 14px rgba(243, 243, 243, .7);
  box-shadow: 0 0 0 14px rgba(243, 243, 243, .7);
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  opacity: 0;
  cursor: pointer;
}

.skills__icon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index:  20;
}

.skills__icon--google {
  transform:  rotate(35deg);
  top:  18px;
  left:  4px;
}

.skills__icon--html {
  left: 14px;
  top: 15px;
}

.skills__icon--css {
  top:  0;
  left:  22px;
  transform:  rotate(-46deg);
}

.skills__icon--js {
  top:  -13px;
  left:  11px;
  transform:  rotate(-90deg);
}

.skills__icon--github {
  top:  -17px;
  left:  0;
  transform:  rotate(-135deg);
}

.skills__icon--prepros {
  top:  -13px;
  left:  -13px;
  transform:  rotate(180deg);
}

.skills__icon--tools {
  top:  2px;
  left:  -18px;
  transform:  rotate(135deg);
}

.skills__icon--responsive {
  top:  14px;
  left:  -12px;
  transform:  rotate(90deg);
}

.skills__item--first {
  top: 5%;
  left: 50%;
  background-color: #49ffbd;
  transform: translateX(-50%);
}

.skills__item--second {
  top: 15%;
  right: 15%;
  background-color: #b4ff49;
  transform: rotate(46deg);
}

.skills__item--third {
  top: 50%;
  right: 5%;
  background-color: #FFD249;
  transform:  rotate(90deg) translateX(-50%);
}

.skills__item--fourth {
  bottom: 15%;
  right: 15%;
  background-color: #ff8e49;
  transform: rotate(135deg);
}

.skills__item--fifth {
  right: 50%;
  background-color: #d73e6d;
  bottom: 5%;
  transform: translateX(50%) rotate(180deg);
}

.skills__item--sixth {
  left: 15%;
  bottom: 15%;
  background-color: #ce49ff;
  transform: rotate(226deg);
}

.skills__item--seventh {
  top: 50%;
  left: 5%;
  background-color: #49a7ff;
  transform: rotate(-90deg) translateX(50%);
  z-index: 5;
}

.skills__item--eighth {
  top: 15%;
  left: 15%;
  background-color: #49d6ff;
  transform: rotate(-45deg);
  z-index: 1;
}

.skills__item:hover {
  -webkit-box-shadow: 0 0 0 20px rgba(243, 243, 243, .7);
  -moz-box-shadow: 0 0 0 20px rgba(243, 243, 243, .7);
  box-shadow: 0 0 0 20px rgba(243, 243, 243, .7);
}

.skills__round-in {
  display: none;
  position: absolute;
  left: 8%;
  top: 8%;
  width: 85%;
  height: 85%;
  z-index: 3;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.skills__item--first .skills__round-in {
  background-color: #6CDAB2;
}

.skills__item--second .skills__round-in {
  background: #7FCA16;
}

.skills__item--third .skills__round-in {
  background: #F5B800;
}

.skills__item--fourth .skills__round-in {
  background: #FF751F;
}

.skills__item--fifth .skills__round-in {
  background: #BA2653;
}

.skills__item--sixth .skills__round-in {
  background: #B400F5;
}

.skills__item--seventh .skills__round-in {
  background: #4a8cff;
}

.skills__item--eighth .skills__round-in {
  background: #00ACE0;
}


.skills__item:hover .skills__round-in {
  display: block;
}

.skills__round-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: -webkit-box-shadow 400ms ease-out;
  -moz-transition: -moz-box-shadow 400ms ease-out;
  -o-transition: -o-box-shadow 400ms ease-out;
  transition: box-shadow 400ms ease-out;
}

.skills__item--first:hover .skills__round-shadow {
  -webkit-box-shadow: 0 0 0 7px rgba(108, 218, 178, 1);
  -moz-box-shadow: 0 0 0 7px rgba(108, 218, 178, 1);
  box-shadow: 0 0 0 7px rgba(108, 218, 178, 1);
}

.skills__item--second:hover .skills__round-shadow {
  -webkit-box-shadow: 0 0 0 7px #7FCA16;
  -moz-box-shadow: 0 0 0 7px #7FCA16;
  box-shadow: 0 0 0 7px #7FCA16;
}

.skills__item--third:hover .skills__round-shadow {
  -webkit-box-shadow: 0 0 0 7px #F5B800;
  -moz-box-shadow: 0 0 0 7px #F5B800;
  box-shadow: 0 0 0 7px #F5B800;
}

.skills__item--fourth:hover .skills__round-shadow {
  -webkit-box-shadow: 0 0 0 7px #FF751F;
  -moz-box-shadow: 0 0 0 7px #FF751F;
  box-shadow: 0 0 0 7px #FF751F;
}

.skills__item--fifth:hover .skills__round-shadow {
  -webkit-box-shadow: 0 0 0 7px #BA2653;
  -moz-box-shadow: 0 0 0 7px #BA2653;
  box-shadow: 0 0 0 7px #BA2653;
}

.skills__item--sixth:hover .skills__round-shadow {
  -webkit-box-shadow: 0 0 0 7px #B400F5;
  -moz-box-shadow: 0 0 0 7px #B400F5;
  box-shadow: 0 0 0 7px #B400F5;
}

.skills__item--seventh:hover .skills__round-shadow {
  -webkit-box-shadow: 0 0 0 7px #4a8cff;
  -moz-box-shadow: 0 0 0 7px #4a8cff;
  box-shadow: 0 0 0 7px #4a8cff;
}

.skills__item--eighth:hover .skills__round-shadow {
  -webkit-box-shadow: 0 0 0 7px #00ACE0;
  -moz-box-shadow: 0 0 0 7px #00ACE0;
  box-shadow: 0 0 0 7px #00ACE0;
}

.skills__line {
  display: none;
  position: absolute;
  top: 111%;
  left: 50%;;
  width: 5%;
  height: 240px;
  background: #ccc;
  z-index: 4;
  box-shadow: 0 10px 0 10px rgba(243, 243, 243, .7);
}

.skills__item:hover .skills__line {
  display: block;
}

.skills__description {
  display: none;
  position: absolute;
  bottom: 62px;
  border-radius: 10px;
  width: 280px;
  min-height: 150px;
  padding: 20px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 5px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  -webkit-transition: -webkit-all 400ms ease-out;
  -moz-transition: -moz-all 400ms ease-out;
  -o-transition: -o-all 400ms ease-out;
  transition: all 400ms ease-out;
}

.skills__item--first .skills__description {
  bottom: 40px;
  left: 50%;
  border: 5px solid #49FFBD;;
  background: rgba(108, 218, 178, 1);
  transform: translateX(-50%);
}

.skills__item--second .skills__description {
  bottom: 98px;
  left: -110%;
  border: 5px solid #b4ff49;
  background: #7FCA16;
  transform: rotate(-46deg);
}

.skills__item--third .skills__description {
  bottom: 85px;
  left: -150%;
  border: 5px solid #FFD249;
  background: #F5B800;
  transform: rotate(-90deg);
}

.skills__item--fourth .skills__description {
  bottom: 90px;
  left: -206%;
  border: 5px solid #ff8e49;
  background: #FF751F;
  transform: rotate(-135deg);
}

.skills__item--fifth .skills__description {
  bottom: 40px;
  left: -153%;
  border: 5px solid #d73e6d;
  background: #BA2653;
  transform: rotate(180deg);
}

.skills__item--sixth .skills__description {
  bottom: 90px;
  left: -98%;
  border: 5px solid #ce49ff;
  background: #B400F5;
  transform: rotate(134deg);
}

.skills__item--seventh .skills__description {
  bottom: 100px;
  left: -149%;
  border: 5px solid #49a7ff;
  background: #4a8cff;
  transform: rotate(90deg);
}

.skills__item--eighth .skills__description {
  bottom: 87px;
  left: -205%;
  border: 5px solid #49d6ff;
  background: #00ACE0;
  transform: rotate(45deg);
}

.skills__item:hover .skills__description {
    display: block;
}

.skills__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.contacts {
  padding-top: 92px;
  background: #f3f3f3;
}

.contacts__title {
  margin-bottom: 35px;
  color: #777;
  font-size: 35px;
  line-height: 70px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.contacts__envelope {
  width: 600px;
  height: 350px;
  margin: 240px auto 0;
}

.envelope {
  position: relative;
  background: #20836A;
  border-radius: 0 0 40px 40px;
}

.envelope__card {
  position: relative;
  width: 580px;
  min-height: 300px;
  margin: 0 auto;
  background: repeating-linear-gradient(105deg, #34A8CF 0px, #34A8CF 40px, #F6F2E6 40px, #F6F2E6 80px, #D36039 80px, #D36039 120px);
  box-shadow: 0 0 4px 0 #FCFCFC;
  transition: all 2s ease-in-out;
  transition-delay: 1.5s;
  z-index: 5;
}

.envelope__content {
  position: absolute;
  top: 3%;
  width: 100%;
  min-height: 281px;
  background: -webkit-linear-gradient(#E2D7B6, #F9F7F0 2px);
  background: -o-linear-gradient(#E2D7B6, #F9F7F0 2px);
  background: linear-gradient(#E2D7B6, #F9F7F0 2px);
  background-position: center;
  background-size: 60px;
  overflow: hidden;
  z-index: 6;
 }

 .envelope__text {
  position: absolute;
  width: 100%;
  padding: 13px 0 30px;
  font-size: 20px;
  font-weight: 300;
  color: #333;
  text-align: center;
  box-sizing: border-box;
 }

.envelope__title {
  margin-bottom: 36px;
  font-weight: 500;
}

.contacts-list {
  margin: 0 0 34px;
  padding: 0;
  list-style: none;
  text-align: left;
}

.contacts-list__cell {
  padding: 0 35px;
  font-size: 18px;
}

.contacts-list__cell:not(:last-of-type) {
  margin-bottom: 36px;
}

.contacts-list__cell::before {
  content: "\2014\a0";
  margin-right: 10px;
}

.contacts-list__link {
  color: #777;
  text-decoration: none;
  border-bottom: 1px solid #28A485;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.contacts-list__link:hover {
  color: #28A485;
  border-bottom-color: #3DD0AC;
}

.envelope__side {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}

.envelope__side--top {
  border-right: 300px solid transparent;
  border-top: 200px solid #3DD0AC;
  border-left: 300px solid transparent;
  transition: transform 1s,border 1s, ease-in-out;
  transform-origin:top;
  transform:rotateX(0deg);
  z-index: 8;
}

.envelope__side--right {
  left: 50%;
  border-right: 300px solid #2CB592;
  border-top: 160px solid transparent;
  border-bottom: 160px solid transparent;
  z-index: 20;
}

.envelope__side--bottom {
  position: absolute;
  top: 160px;
  width: 600px;
  height: 190px;
  background: #28A485;
  border-radius:0 0 30px 30px;
  z-index: 9;
}

.envelope__side--left {
  right: 50%;
  border-left: 300px solid #2CB592;
  border-top: 160px solid transparent;
  border-bottom: 160px solid transparent;
  z-index: 20;
}

.js-envelope__side--opened {
  transform-origin: top;
  transform: rotateX(180deg);
  transition: transform .7s, border .7s, z-index .7s ease-in-out;
  border-top-color: #20836A;
  z-index: 4;
}

.js-envelope__card--open {
  -webkit-animation: card_animation 2s 1 ease-in-out;
  animation: card_animation 2s 1 ease-in-out;
  -webkit-animation-delay:.9s;
  animation-delay:.45s;
  transition: 1.5s;
  transition-delay:1s;
  z-index: 25;;
}

.btn--envelope {
  top: 50%;
  height: 120px;
  border-color: #CB605E;
  border-radius: 50%;
  background: #E76D6B;
  color: #fff;
  line-height: 115px;
  cursor: pointer;
  z-index: 20;
}

.btn--envelope:hover {
  border-color: #BF6A69;
  background: #DC7674;
}

.btn--envelope:active {
  top: 51%;
}

.page-footer {
  padding: 50px 0;
  background: #D6D6D6;
}

.page-footer__copyright {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 16px;
  color: #777;
  font-weight: 300;
  text-align: center;
}

.socials {
  text-align: center;
  font-size: 0;
}

.socials__btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #B8B8B8 url("../img/sprite.png") no-repeat;
  text-indent: -9999px;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  overflow: hidden;
  border-radius: 5px;
  border-bottom: 6px solid #ADADAD;
}

.socials__btn:not(:last-child) {
  margin-right: 20px;
}

.socials__btn--vk {
  background-position: 8px 14px;
}

.socials__btn--skype {
  background-position: -82px 10px;
}

.socials__btn--github {
  background-position: -37px 6px;
}

.socials__btn:hover {
  background-color: #ccc;
  border-color: #C2C2C2;;
}

.socials__btn:active {
  transform: translateY(2px);
  border-width: 4px;
}

@media (max-width: 1180px) {
  .skills__description {

  }

  .skills__item--second .skills__description {
    bottom: 25px;
    left: -170px;
  }

  .skills__item--third .skills__description {
    bottom: -56px;
    left: -219px;
  }

  .skills__item--fourth .skills__description {
    bottom: 15px;
    left: -37px;
  }


  .skills__item--sixth .skills__description {
    bottom: 18px;
    left: -183px;
  }

  .skills__item--seventh .skills__description {
    bottom: -45px;
    left: 0;
  }

  .skills__item--eighth .skills__description {
    bottom: 10px;
    left: -35px;
  }
}

@media (max-width: 880px) {
  .index-center-wrap {
    width: 100%;
  }

  .skills__center {
    display: none;
  }

  .skills__round,
  .skills__item:hover .skills__line {
    display: none;
  }

  .skills__item--first {
    top: 0;
  }

  .skills__item--second {
    top: 0;
  }

  .skills__item--third {
    top: 30%;
    right: 31%;
  }

  .skills__item--fourth {
    top: 25%;
    right: 59%;
  }

  .skills__item--fifth {
    top: 49%;
    left: 10%;
  }

  .skills__item--sixth {
    top: 50%;
    left: 45%;
  }

  .skills__item--seventh {
    top: 55%;
    left: 75%;
  }

  .skills__item--eighth {
    top: 0;
  }

  .skills__item--fourth .skills__description {
    top: 20px;
    left: -169px;

  }
}


/********************
* Animations block *
********************/

@keyframes eyes {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes smile {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes typing {
  from { width: 100% }
  to { width:0 }
}

@keyframes blink-caret {
  from{ border-left: #666 solid .1em }
  to{ border-left: transparent solid .1em }
}
@keyframes blink-caret-infinite {
  from, to{ border-left: #666 solid .1em }
  50%{ border-left: transparent solid .1em }
}

@-webkit-keyframes typing {
  from { width: 100% }
  to { width:0 }
}

@-webkit-keyframes blink-caret {
  from{ border-left: #666 solid .1em }
  to{ border-left: transparent solid .1em }
}
@-webkit-keyframes blink-caret-infinite {
  from, to{ border-left: #666 solid .1em }
  50%{ border-left: transparent solid .1em }
}

@-moz-keyframes typing {
  from { width: 100% }
  to { width:0 }
}

@-moz-keyframes blink-caret {
  from{ border-left: #666 solid .1em }
  to{ border-left: transparent solid .1em }
}
@-moz-keyframes blink-caret-infinite {
  from, to{ border-left: #666 solid .1em }
  50%{ border-left: transparent solid .1em }
}


@keyframes card_animation {
  0%{
    transform: translatey(0px);
    transition: 1s ease-in-out;
  }
  50%{
    transform: translatey(-300px);
    transition: 1s ease-in-out;
  }
  51%{
    transform: translatey(-300px);
    transition: 1s ease-in-out;
  }
  100%{
    transform:translatey(0px);
    transition: 1s ease-in-out;
  }
}

@-webkit-keyframes card_animation {
  0%{
    transform:translatey(0px);
    transition: 1s ease-in-out;
  }
  50%{
    transform:translatey(-340px);
    transition: 1s ease-in-out;
  }
  51%{
    transform:translatey(-340px);
    transition: 1s ease-in-out;
  }
  100%{
    transform:translatey(0px);
    transition: 1s ease-in-out;
  }
}

@-moz-keyframes card_animation {
  0%{
    transform:translatey(0px);
    transition: 1s ease-in-out;
  }
  50%{
    transform:translatey(-340px);
    transition: 1s ease-in-out;
  }
  51%{
    transform:translatey(-340px);
    transition: 1s ease-in-out;
  }
  100%{
    transform:translatey(0px);
    transition: 1s ease-in-out;
  }
}
